<html >
<head>
    <title> Home </title>

</head>

<body>
<h1> Student Details </h1>


<table border="1px solid black">
    <thead>
        <th>Student ID </th>
        <th>First Name </th>
        <th>Last Name  </th>
        <th>Scores </th>
    </thead>
    {% for i in s %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.Fname }}</td>
        <td>{{ i.Lname }}</td>
        <td>{{ i.Score }}</td>
        <td> <a href="/update/{{ i.id }}">UPDATE</a></td>
        <td> <a href="/del/{{ i.id }}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add">Add student</a>

</body>

</html>